nav {
    width:130px;
    height:100%;
    text-align: center;
    padding-top:40px;
    color:#fff;
}

.title {
    padding:1rem;
    font-weight: bold;
    cursor: default;
}

.menu {
    padding:1rem;
    
}
.li, li a {
    color:#fff;
    padding : 0.5rem 0;
    transition: color 0.5s;
}

.li a:hover {
    color:#eee;
}

.li:hover {
    color:#eee;
}
