nav {
    width:130px;
    height:100%;
    text-align: center;
    padding-top:40px;
    color:#fff;
}

.menu {
    
}
.li, li a {
    color:#fff;
    padding : 0.5rem 0;
    transition: color 0.5s;
    font-size: 1.3rem;
}

.li a:hover {
    color:#eee;
}

.li:hover {
    color:#eee;
}

@media screen and (max-width:800px) {
    nav {
        width:10%;
    }
    .li, li a {
        font-size: 0.8rem;
    }
}