.li {
    width: 20%;
    height:20%;
    margin: 0.5rem 0;
    padding:0 10px;
    font-size: 0.5rem;
    cursor: pointer;
    transition: transform 0.5s;
}

.li:hover {
    transform: scale(1.05);
}

.li img {
    width: 100%;
    border-radius: 5px;
}
.title {
    height: 1.8rem;
    overflow: hidden;
}

.text {
    padding: 0.3rem 0.1rem;
    line-height: 1.6;

}

.channel {
    margin-top: 0.4rem;
}

@media screen and (max-width:1200px) {
    .li {
        width:30%;
        height:auto;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:1024px) {
    .li {
        width: 45%;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:800px) {
    .li {
        width: 90%;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:500px) {
    .li {
        width: 100%;
        margin-bottom: 2rem;
    }
}