* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color:#000;
}
