* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.app {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(65, 63, 99, 1) 0%, rgba(35, 35, 89, 1) 27%, rgba(2, 14, 18, 1) 100%);
  padding-top: 50px;
}

.wrap {
  width: 70%;
  background-color: rgb(15, 0, 82, 0.3);
  height: auto;
  margin: auto;
  border-radius: 5px;
  padding: 1.5rem;

}

section {
  padding: 2rem;
  margin: 2rem;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 5px;
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}