.clickVideo {
    width:70%;
    padding:1rem;
}
.clickVideo iframe {
    width: 100%;
    height:35vw;
}
.clickVideo > div {
    margin-top:1rem;
    font-size:0.8rem;
    line-height:1.5;
}
hr {
    margin:1rem 0;
    background-color: #000;
    opacity: 0.1;
    border-radius: 20px;
}
.ex {
    padding-right:1rem;
    line-height: 1.6;
    white-space:pre-wrap;
}

@media screen and (max-width:1200px) {
    .clickVideo {
        width: 100%;
    }

    .clickVideo iframe {
        height: 35vw;
    }
}

@media screen and (max-width:500px) {
    .clickVideo iframe {
        height:50vw;
    }
}
